@font-face {
    font-family: Academy;
    src: url('font/RosmatikaRegular-BWA45.ttf');
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    
}

h2, input {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

h1, h2, h3, h4, p {
    margin: 0;
}

.scoreboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 20px;
    width: clamp(300px, 50vw, 600px);
}

.game-board {
    display: grid;
    grid: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 2px;
    background-color: black;
    height: clamp(300px, 50vw, 600px);
    width: clamp(300px, 50vw, 600px);
}

.game-board div {
    background-color: white;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: hidetext;
    font-family: Academy;
}

.board-grid:nth-child(1),
.board-grid:nth-child(2),
.board-grid:nth-child(3) {
    animation-duration: 0.5s;
}

.board-grid:nth-child(4),
.board-grid:nth-child(5),
.board-grid:nth-child(6) {
    animation-duration: 1s;
}

.board-grid:nth-child(7),
.board-grid:nth-child(8),
.board-grid:nth-child(9) {
    animation-duration: 1.5s;
}

@keyframes hidetext {
    from {color: white;}
    to {color:white;}
}

/* Styles for popup input boxes to edit names */

input {
    padding: 0px;
    width: 0px;
    height: 100%;
    border: none;
    position: absolute;

    text-align: center;
    transition: width 0.2s ease-in;
}

input:focus {
    width: 100%;
    color: gray;
    border-right: 1px solid black;
    outline: none;
}


.player-container, .scoreboard-left, .scoreboard-right {
    display: flex;
    align-items: center;
    position: relative;
}

.reset-button {
    border: none;
    padding: 0px;
    background: none;
    position: fixed;
    bottom: 12px;
}

.reset-image {
    width: 32px;
}